Repository kanade0404/tenhou-log: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/full_guide.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: services security
#       run: bundle audit
#
 pre-commit:
   parallel: true
   commands:
     eslint:
       root: "services/web/"
       glob: "*.{js,ts,tsx}"
       run: yarn eslint {staged_files}
     prettier:
       root: "services/web/"
       glob: "*.{js,ts,tsx}"
       run: yarn prettier --check {staged_files}
     gofmt:
       glob: "*.go"
       run: go fmt {staged_files}
       exclude: "services/ent/"
     actionlint:
       files: git diff --name-only HEAD | grep ".github/workflows/" || echo ''
       glob: "*.y{a}ml"
       run: docker run --rm -v $(pwd):/repo --workdir /repo rhysd/actionlint:latest -color

 pre-push:
   commands:
     govet:
       glob: "*.go"
       run: go vet {all_files}
       exclude: "services/ent/"
     yarn-audit:
       tags: frontend security
       run: yarn audit

:up: Updates caniuse-lite
  services/web/yarn.lock
Due: none

:sparkles: adapt nextjs to standalone mode
  services/web/.dockerignore
  services/web/next.config.js
Due: eslint, prettier

:bug: Fix Dockerfile
  docker/web/Dockerfile
Due: none

:bug: Fix
  .envrc
  TerraformTasks.yaml
  infra/terraform/env/dev/credentials/scraper.json.enc
  infra/terraform/env/dev/run.tf
  infra/terraform/env/dev/sercret_manager.tf
  infra/terraform/env/dev/service_account.tf
  infra/terraform/modules/iam/main.tf
  infra/terraform/modules/run/main.tf
Due: none

:sparkles: update terraform
  infra/terraform/env/dev/eventarc.tf
  infra/terraform/env/dev/function.tf
  infra/terraform/env/dev/scheduler.tf
  infra/terraform/env/dev/workflows.tf
  infra/terraform/modules/eventarc/variables.tf
  infra/terraform/modules/gcs/outputs.tf
  infra/terraform/modules/workflows/workflow.yaml
Due: none

:sparkles: raise error
  pkg/http_handler/response.go
Due: gofmt

:bug: Fix mods
  pkg/parser/go.mod
  pkg/parser/go.sum
Due: none

:sparkles: add spans
  services/scraper/api/scraper.go
  services/scraper/usecases/scraping.go
  services/scraper/usecases/storage.go
Due: gofmt

:sparkles: update otel
  go.mod
  go.sum
  services/scraper/api/api.go
  services/scraper/api/scraper.go
  services/scraper/entities/compressed_log_file.go
  services/scraper/internal/unmarshal_file_list_text.go
  services/scraper/internal/unmarshal_file_list_text_test.go
  services/scraper/main.go
  services/scraper/usecases/scraping.go
  services/scraper/usecases/storage.go
Due: gofmt

:sparkles: add workflow and scheduler
  infra/terraform/env/dev/scheduler.tf
  infra/terraform/env/dev/service_account.tf
  infra/terraform/env/dev/workflows.tf
  infra/terraform/modules/scheduler/main.tf
  infra/terraform/modules/workflows/workflow.yaml
Due: none

:+1: add workflow
  .github/workflows/actionlint.yaml
  .github/workflows/log-converter-cd.yaml
  .github/workflows/log-converter-ci.yaml
  .github/workflows/log-decompressor-cd.yaml
  .github/workflows/log-decompressor-ci.yaml
  .github/workflows/terraform-cd.yaml
  .github/workflows/terraform-ci.yaml
  lefthook.yml
Due: none

:bug: Fix workflow
  .github/workflows/function-cd.yaml
  .github/workflows/function-ci.yaml
  .github/workflows/log-downloader-cd.yaml
  .github/workflows/log-downloader-ci.yaml
Due: none

:+1: wip
  .gitignore
  Taskfile.yaml
  config/task/docker/Taskfile.yaml
  config/task/terraform/Taskfile.yaml
  go.mod
  go.sum
  infra/terraform/.terraform.d/checkpoint_cache
  infra/terraform/env/dev/.terraform.lock.hcl
  infra/terraform/modules/run/main.tf
  pkg/driver/secret_manager/client.go
  pkg/driver/storage/client.go
  pkg/driver/tracer/tracer.go
  pkg/logger/logger.go
  services/scraper/api/api.go
  services/scraper/api/scraper.go
  services/scraper/entities/compressed_log_file.go
  services/scraper/internal/unmarshal_file_list_text.go
  services/scraper/main.go
  services/scraper/usecases/scraping.go
  services/scraper/usecases/storage.go
Due: gofmt

:bug: add context
  services/scraper/entities/compressed_log_file_test.go
Due: gofmt

:sparkles: fix github actions workflow
  .github/workflows/log-converter-cd.yaml
  .github/workflows/log-converter-ci.yaml
  .github/workflows/log-decompressor-cd.yaml
  .github/workflows/log-decompressor-ci.yaml
  .github/workflows/log-downloader-cd.yaml
  .github/workflows/log-downloader-ci.yaml
Due: none

:bug: Fix GHA workflow
  .github/workflows/log-converter-ci.yaml
  .github/workflows/log-decompressor-ci.yaml
  .github/workflows/log-downloader-ci.yaml
Due: none

:bug: go mod tidy
  services/log_downloader/go.mod
Due: none

:sparkles: fix gha workflow
  .github/workflows/terraform-cd.yaml
  .github/workflows/terraform-ci.yaml
  services/log_converter/function.go
  services/log_downloader/function.go
Due: gofmt

:bug: Fix gha workflow
  .github/workflows/terraform-ci.yaml
Due: none

:bug: Fix gha workflow
  .github/workflows/terraform-cd.yaml
  .github/workflows/terraform-ci.yaml
Due: none

:bug: go mod tidy
  services/log_downloader/go.sum
Due: none

:bug: add iam role
  infra/terraform/env/dev/.terraform.lock.hcl
  infra/terraform/env/dev/workload_identity.tf
Due: none

:bug: Fix command
  .github/workflows/terraform-cd.yaml
  .github/workflows/terraform-ci.yaml
Due: none

:bug: Fix
  .github/workflows/terraform-ci.yaml
  infra/terraform/env/dev/workload_identity.tf
Due: none

:bug: Fix tflint
  .github/workflows/terraform-ci.yaml
Due: none

:bug: remove tflint
  .github/workflows/terraform-ci.yaml
Due: none

:bug: Fix role
  infra/terraform/env/dev/service_account.tf
  infra/terraform/env/dev/workload_identity.tf
Due: none

:bug: add permission
  infra/terraform/env/dev/service_account.tf
Due: none
