Repository kanade0404/tenhou-log: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, gofmt

eslint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier --check {staged_files}

gofmt:
  run: go fmt {staged_files}

:bug: Fix GHA
  .github/workflows/node-ci.yaml
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
  .github/workflows/serdes-ci.yaml
  Makefile
  lefthook.yml
Due: none

:bug: Fix lefthook.yml
  lefthook.yml
Due: none

:bug: remove `yarn audit`
  lefthook.yml
Due: none

:bug: `go.mod`と`go.sum`でCI/CDが起動するようにする
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
  .github/workflows/serdes-ci.yaml
Due: none

fix
  go.mod
  go.sum
Due: none

:up: go mod tidy
  go.mod
  go.sum
Due: none

:sparkles: add test
  pkg/serdes/helper/error/wrap_error.go
  pkg/serdes/xml/operation/win.go
  pkg/serdes/xml/operation/win_test.go
Due: gofmt

:bug: Fix tests
  pkg/serdes/xml/operation/win.go
  pkg/serdes/xml/operation/win_test.go
Due: gofmt

:recycle: Makefileやめてgo-taskに一本化
  .envrc
  .gitignore
  DockerTasks.yaml
  Makefile
  Taskfile.yaml
  TerraformTasks.yaml
  services/.gitignore
  services/Taskfile.yaml
Due: none

:bug: Fix mod
  go.mod
  go.sum
  pkg/serdes/xml/hai/hai.go
  pkg/serdes/xml/init/hand_hais.go
  pkg/serdes/xml/init/hand_hais_test.go
  pkg/serdes/xml/operation/claim.go
  pkg/serdes/xml/operation/claim_test.go
  pkg/serdes/xml/operation/discard.go
  pkg/serdes/xml/operation/discard_test.go
  pkg/serdes/xml/operation/draw.go
  pkg/serdes/xml/operation/draw_test.go
  pkg/serdes/xml/operation/reach.go
  pkg/serdes/xml/operation/reach_test.go
  pkg/serdes/xml/operation/win.go
  pkg/serdes/xml/operation/win_test.go
  pkg/serdes/xml/player.go
Due: gofmt

:sparkles: docker buildのディレクトリ構成変更
  .dockerignore
  .github/workflows/scraper-cd.yaml
  docker/scraper_Dockerfile
  services/scraper_Dockerfile
Due: none

:sparkles: create scraper dir
  .github/workflows/scraper-cd.yaml
  docker/scraper/Dockerfile
Due: none

:sparkles: パッケージ名変更
  pkg/parser/helper/error/wrap_error.go
  pkg/parser/str/conv_to_cjknum.go
  pkg/parser/str/split_by_comma_to_ints.go
  pkg/parser/tenhou_log.go
  pkg/parser/xml/gameinfo.go
  pkg/parser/xml/gameinfo_test.go
  pkg/parser/xml/hai/hai.go
  pkg/parser/xml/hai/hai_test.go
  pkg/parser/xml/init/hand_hais.go
  pkg/parser/xml/init/hand_hais_test.go
  pkg/parser/xml/init/parent.go
  pkg/parser/xml/init/parent_test.go
  pkg/parser/xml/init/point.go
  pkg/parser/xml/init/point_test.go
  pkg/parser/xml/init/seed.go
  pkg/parser/xml/init/seed_test.go
  pkg/parser/xml/operation/claim.go
  pkg/parser/xml/operation/claim_test.go
  pkg/parser/xml/operation/const.go
  pkg/parser/xml/operation/discard.go
  pkg/parser/xml/operation/discard_test.go
  pkg/parser/xml/operation/draw.go
  pkg/parser/xml/operation/draw_test.go
  pkg/parser/xml/operation/drawn_game.go
  pkg/parser/xml/operation/reach.go
  pkg/parser/xml/operation/reach_test.go
  pkg/parser/xml/operation/win.go
  pkg/parser/xml/operation/win_test.go
  pkg/parser/xml/player.go
  pkg/parser/xml/player_test.go
  pkg/parser/xml/xml.go
  pkg/parser/xml/xml_test.go
  pkg/serdes/Taskfile.yaml
  pkg/serdes/tenhou_log.go
Due: gofmt

:pencil2: parserのREADME追加
  pkg/parser/README.md
Due: none

:sparkles: 流局のparser追加 serdesからparserにパッケージ名変更
  .github/workflows/parser-ci.yaml
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
  pkg/parser/helper/custom_error/wrap_error.go
  pkg/parser/helper/error/wrap_error.go
  pkg/parser/xml/operation/drawn_game.go
  pkg/parser/xml/operation/drawn_game_test.go
  pkg/parser/xml/operation/error.go
  pkg/parser/xml/operation/win.go
  pkg/parser/xml/operation/win_test.go
Due: gofmt

:sparkles: pkg fix
  pkg/config/config.go
  pkg/database/client.go
  pkg/database/cmd/create_migration_files/main.go
  pkg/database/cmd/exec_versioned_migration/main.go
  pkg/database/migration.go
  pkg/database/seed/main.go
  pkg/parser/helper/custom_error/wrap_error.go
  pkg/parser/xml/operation/drawn_game_test.go
  pkg/parser/xml/operation/win_test.go
Due: gofmt

:sparkles: rotation期間を30日に指定
  infra/terraform/modules/kms/main.tf
Due: none

:tada: 開槓情報のparser追加
  pkg/parser/xml/operation/dora_open.go
  pkg/parser/xml/operation/dora_open_test.go
Due: gofmt

:recycle: fix
  .github/workflows/node-cd.yaml
  .github/workflows/node-ci.yaml
  .github/workflows/parser-ci.yaml
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
  .gitignore
  docker/web/Dockerfile
  go.sum
  infra/terraform/env/dev/run.tf
  pkg/parser/go.mod
  services/generate.go
  services/web/next-env.d.ts
Due: eslint, prettier, gofmt

:bug: Fix workflow
  .github/workflows/node-cd.yaml
  docker/web/Dockerfile
Due: none

:bug: Fix workflow
  .github/workflows/node-ci.yaml
Due: none

:bug: Fix workflow
  .github/workflows/parser-ci.yaml
Due: none

:tada: fix actions and Dockerfile
  .github/workflows/node-cd.yaml
  .github/workflows/parser-ci.yaml
  .github/workflows/scraper-cd.yaml
  docker/scraper/Dockerfile
  docker/web/Dockerfile
  pkg/parser/go.sum
Due: none

:bug: Fix workflow
  .github/workflows/parser-ci.yaml
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
Due: none

:bug: Fix mod version
  .github/workflows/parser-ci.yaml
  go.mod
  pkg/parser/go.mod
Due: none

:bug: Fix mod version
  .github/workflows/parser-ci.yaml
  .github/workflows/scraper-cd.yaml
  .github/workflows/scraper-ci.yaml
Due: none

:bug: Fix config
  pkg/config/config.go
Due: gofmt

:bug: Fix config name
  pkg/config/config.go
Due: gofmt

:bug: Fix access secret version
  pkg/config/config.go
Due: gofmt

:bug: Fix secret manager driver
  pkg/driver/secret_manager/client.go
Due: gofmt

:sparkles: Additional versioned migration
  docker/scraper/Dockerfile
  services/database/migrations/20230305021544_initialize.sql
  services/database/migrations/atlas.sum
Due: none

:bug: Fix migration
  docker/scraper/Dockerfile
  pkg/database/migration.go
Due: gofmt

:bug: Fix workflow
  .github/workflows/node-cd.yaml
  .github/workflows/scraper-cd.yaml
Due: none

:bug: Fix region
  .github/workflows/node-cd.yaml
  .github/workflows/scraper-cd.yaml
Due: none

:bug: Fix workflow
  .github/workflows/node-cd.yaml
Due: none

:bug: Fix Dockerfile
  docker/web/Dockerfile
Due: none

Path conditions:
  eslint: any of: *.{js,ts,tsx} and ^services/web/
  prettier: any of: *.{js,ts,tsx} and ^services/web/
  gofmt: any of: *.go, but not: services/ent/
